In [1]:
import pandas as pd
import numpy as np

In [2]:
aca_df = pd.read_csv('academy_2018.csv', encoding='euckr', thousands=',')
aca_df

     자치구     계
0    종로구   274
1     중구   119
2    용산구   158
3    성동구   314
4    광진구   430
5   동대문구   363
6    중랑구   273
7    성북구   464
8    강북구   218
9    도봉구   335
10   노원구   747
11   은평구   521
12  서대문구   345
13   마포구   644
14   양천구  1062
15   강서구   707
16   구로구   427
17   금천구   222
18  영등포구   467
19   동작구   458
20   관악구   450
21   서초구  1130
22   강남구  2263
23   송파구  1051
24   강동구   638

In [3]:
aca_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
자치구    25 non-null object
계      25 non-null int64
dtypes: int64(1), object(1)
memory usage: 528.0+ bytes

In [4]:
aca_2018 = aca_df.sort_values(by=['계'], ascending=False)
aca_2018

     자치구     계
22   강남구  2263
21   서초구  1130
14   양천구  1062
23   송파구  1051
10   노원구   747
15   강서구   707
13   마포구   644
24   강동구   638
11   은평구   521
18  영등포구   467
7    성북구   464
19   동작구   458
20   관악구   450
4    광진구   430
16   구로구   427
5   동대문구   363
12  서대문구   345
9    도봉구   335
3    성동구   314
0    종로구   274
6    중랑구   273
17   금천구   222
8    강북구   218
2    용산구   158
1     중구   119

In [5]:
# 200미만 학원갯수 0 
# 200이상 300미만 학원갯수 1
# 300이상 500미만 학원갯수 2
# 500이상 1000미만 학원갯수 3
# 1000이상 학원갯수 4

aca_2018.loc[aca_2018['계'] < 200, '계'] = 0
aca_2018.loc[((aca_2018['계'] >=200 ) & (aca_2018['계'] < 300)) , '계'] = 1
aca_2018.loc[((aca_2018['계'] >=300) & (aca_2018['계'] < 500)) , '계'] = 2
aca_2018.loc[((aca_2018['계'] >=500) & (aca_2018['계'] < 1000)) , '계'] = 3
aca_2018.loc[aca_2018['계'] >= 1000 , '계'] = 4

aca_2018

     자치구  계
22   강남구  4
21   서초구  4
14   양천구  4
23   송파구  4
10   노원구  3
15   강서구  3
13   마포구  3
24   강동구  3
11   은평구  3
18  영등포구  2
7    성북구  2
19   동작구  2
20   관악구  2
4    광진구  2
16   구로구  2
5   동대문구  2
12  서대문구  2
9    도봉구  2
3    성동구  2
0    종로구  1
6    중랑구  1
17   금천구  1
8    강북구  1
2    용산구  0
1     중구  0

In [6]:
aca_2018.rename(columns = {'계' : '학원수'}, inplace = True)

In [7]:
aca_2018

     자치구  학원수
22   강남구    4
21   서초구    4
14   양천구    4
23   송파구    4
10   노원구    3
15   강서구    3
13   마포구    3
24   강동구    3
11   은평구    3
18  영등포구    2
7    성북구    2
19   동작구    2
20   관악구    2
4    광진구    2
16   구로구    2
5   동대문구    2
12  서대문구    2
9    도봉구    2
3    성동구    2
0    종로구    1
6    중랑구    1
17   금천구    1
8    강북구    1
2    용산구    0
1     중구    0

In [8]:
aca_2018.to_csv("aca_2018.csv",index=False, encoding='utf-8-sig')