# 2016-19년도 면적별 거래금액 분석

서울시 25개구의 면적별 거래금액 평균을 년도별로 시각화

전용면적 구간
- 65 이하 : 0
- 65 이상 99 미만 : 1
- 99 이상 135 미만 : 2
- 135 이상 165 미만 : 3
- 165 이상 : 4

In [5]:
import pandas as pd
import numpy as np

In [11]:
apart16_df = pd.read_csv('apart16.csv', encoding='CP949')
apart17_df = pd.read_csv('apart17.csv', encoding='CP949')
apart18_df = pd.read_csv('apart18.csv', encoding='CP949')
apart19_df = pd.read_csv('apart19.csv', encoding='CP949')

### 자치구 추출

In [12]:
apart16_df['address'] = [gu.split()[1] for gu in apart16_df['address']]
apart17_df['address'] = [gu.split()[1] for gu in apart17_df['address']]
apart18_df['address'] = [gu.split()[1] for gu in apart18_df['address']]
apart19_df['address'] = [gu.split()[1] for gu in apart19_df['address']]

apart16_df

       address   area  amount
0          강남구  77.75   75000
1          강남구  77.75   71000
2          강남구  77.75   76900
3          강남구  77.75   75500
4          강남구  77.75   80000
...        ...    ...     ...
110195     중랑구  84.69   27000
110196     중랑구  84.69   30000
110197     중랑구  67.44   25700
110198     중랑구  67.57   22300
110199     중랑구  95.94   32000

[110200 rows x 3 columns]

### 년도 삽입

In [13]:
apart16_df['year'] = 2016
apart16_df = apart16_df[['year', 'address', 'area', 'amount']]

apart17_df['year'] = 2017
apart17_df = apart17_df[['year', 'address', 'area', 'amount']]

apart18_df['year'] = 2018
apart18_df = apart18_df[['year', 'address', 'area', 'amount']]

apart19_df['year'] = 2019
apart19_df = apart19_df[['year', 'address', 'area', 'amount']]

apart17_df

        year address    area  amount
0       2017     강남구   77.75   80000
1       2017     강남구   77.75   85000
2       2017     강남구   77.75   89900
3       2017     강남구   79.97   97500
4       2017     강남구   79.97   98000
...      ...     ...     ...     ...
105072  2017     중랑구   72.22   28300
105073  2017     중랑구  125.09   36900
105074  2017     중랑구   50.29   19100
105075  2017     중랑구   87.31   30500
105076  2017     중랑구   67.57   25100

[105077 rows x 4 columns]

### 전용면적 나누기

In [14]:
# 2016년도
apart16_df.loc[apart16_df['area'] < 65, 'area'] = 0
apart16_df.loc[(apart16_df['area'] >= 65) & (apart16_df['area'] < 99) , 'area'] = 1
apart16_df.loc[(apart16_df['area'] >= 99) & (apart16_df['area'] < 135) , 'area'] = 2
apart16_df.loc[(apart16_df['area'] >= 135) & (apart16_df['area'] < 165) , 'area'] = 3
apart16_df.loc[apart16_df['area'] >= 165, 'area'] = 4

# 2017년도
apart17_df.loc[apart17_df['area'] < 65, 'area'] = 0
apart17_df.loc[(apart17_df['area'] >= 65) & (apart17_df['area'] < 99) , 'area'] = 1
apart17_df.loc[(apart17_df['area'] >= 99) & (apart17_df['area'] < 135) , 'area'] = 2
apart17_df.loc[(apart17_df['area'] >= 135) & (apart17_df['area'] < 165) , 'area'] = 3
apart17_df.loc[apart17_df['area'] >= 165, 'area'] = 4

# 2018년도
apart18_df.loc[apart18_df['area'] < 65, 'area'] = 0
apart18_df.loc[(apart18_df['area'] >= 65) & (apart18_df['area'] < 99) , 'area'] = 1
apart18_df.loc[(apart18_df['area'] >= 99) & (apart18_df['area'] < 135) , 'area'] = 2
apart18_df.loc[(apart18_df['area'] >= 135) & (apart18_df['area'] < 165) , 'area'] = 3
apart18_df.loc[apart18_df['area'] >= 165, 'area'] = 4

# 2019년도
apart19_df.loc[apart19_df['area'] < 65, 'area'] = 0
apart19_df.loc[(apart19_df['area'] >= 65) & (apart19_df['area'] < 99) , 'area'] = 1
apart19_df.loc[(apart19_df['area'] >= 99) & (apart19_df['area'] < 135) , 'area'] = 2
apart19_df.loc[(apart19_df['area'] >= 135) & (apart19_df['area'] < 165) , 'area'] = 3
apart19_df.loc[apart19_df['area'] >= 165, 'area'] = 4

apart18_df

       year address  area  amount
0      2018     강남구   1.0  130000
1      2018     강남구   1.0  117000
2      2018     강남구   1.0  130000
3      2018     강남구   1.0  139500
4      2018     강남구   0.0  107500
...     ...     ...   ...     ...
81382  2018     중랑구   0.0   21000
81383  2018     중랑구   1.0   29500
81384  2018     중랑구   1.0   30000
81385  2018     중랑구   1.0   24500
81386  2018     중랑구   2.0   37000

[81387 rows x 4 columns]

### 2016-19년 데이터 하나로 묶기

In [15]:
entire_df = pd.concat([apart16_df,apart17_df,apart18_df,apart19_df])
entire_df

       year address  area  amount
0      2016     강남구   1.0   75000
1      2016     강남구   1.0   71000
2      2016     강남구   1.0   76900
3      2016     강남구   1.0   75500
4      2016     강남구   1.0   80000
...     ...     ...   ...     ...
73920  2019     중랑구   0.0   45700
73921  2019     중랑구   1.0   35000
73922  2019     중랑구   0.0   25800
73923  2019     중랑구   1.0   34500
73924  2019     중랑구   0.0   32800

[370589 rows x 4 columns]

### 년도별, 자치구별, 전용면적별 평균 거래금액구하기

In [16]:
mean_amount = entire_df.pivot_table('amount', index=['year', 'address'], columns='area', aggfunc='mean')
mean_amount = mean_amount.fillna(0)
mean_amount

area                   0.0            1.0            2.0            3.0  \
year address
2016 강남구      68654.037021   99952.528480  131637.549020  180527.040153
     강동구      41512.563044   51916.120780   68417.835705   72381.212766
     강북구      29524.147914   38785.386221   46171.382979   40775.000000
     강서구      31794.052384   46818.315436   60530.900654   69597.750000
     관악구      29873.465818   42324.012436   50814.915254   60625.000000
...                    ...            ...            ...            ...
2019 용산구      85021.706140  114381.914358  165975.912338  183064.113821
     은평구      42917.560739   55680.304435   72061.837456   54139.285714
     종로구      44084.246032   95635.677966  112665.757576  135482.500000
     중구       54195.343407   84034.103896  103930.777778  122320.588235
     중랑구      32125.988806   51277.450157   66230.355872   91916.666667

area                    4.0
year address
2016 강남구      245572.890909
     강동구       93172.222222
     강북구       44000.000000
     강서구       77744.884615
     관악구       69071.428571
...                     ...
2019 용산구      351193.551546
     은평구       90354.545455
     종로구      139700.000000
     중구       158565.000000
     중랑구      119000.000000

[100 rows x 5 columns]

### 2016년도와 2019년 기준으로 변동율 구하기

In [130]:
mean16 = apart16_df.pivot_table('amount', index=['year', 'address'], columns='area', aggfunc='mean')
mean16 = mean16.fillna(1)
mean16

area                   0.0           1.0            2.0            3.0  \
year address
2016 강남구      68654.037021  99952.528480  131637.549020  180527.040153
     강동구      41512.563044  51916.120780   68417.835705   72381.212766
     강북구      29524.147914  38785.386221   46171.382979   40775.000000
     강서구      31794.052384  46818.315436   60530.900654   69597.750000
     관악구      29873.465818  42324.012436   50814.915254   60625.000000
     광진구      37602.169014  59826.901081   81028.680203  107779.489051
     구로구      27005.533118  40205.280450   50823.574144   65618.333333
     금천구      25212.584433  35233.946309   41013.409091   61960.000000
     노원구      24693.220452  38968.853538   53216.068921   55284.523810
     도봉구      21962.769752  34225.572464   51087.339744   52602.812500
     동대문구     33366.206738  44203.558115   51522.564935   60836.842105
     동작구      41545.344656  58365.988804   67265.551298   79364.942529
     마포구      45134.706314  59408.407371   72060.006441  100512.917647
     서대문구     33780.227915  45760.304296   57747.222011   71525.168539
     서초구      63514.163384  93962.725904  120260.999083  148142.411638
     성동구      47114.276069  57845.777500   69416.962480   95327.450980
     성북구      34740.160000  44012.129522   53992.807903   58005.714286
     송파구      51642.767094  76876.466289   95586.291429  116570.105820
     양천구      35458.433353  51792.225873   80170.362791  110549.192308
     영등포구     32919.283727  49321.361634   72527.606383  104293.963134
     용산구      52660.314330  67684.210657  100122.930830  114374.592233
     은평구      30366.943231  40449.972660   55871.483660   51180.000000
     종로구      27367.114754  53098.256410   70223.076923  107353.508772
     중구       40026.600567  56526.788553   70538.621429   91371.807339
     중랑구      24046.371930  36505.049391   48273.197492   61342.222222

area                    4.0
year address
2016 강남구      245572.890909
     강동구       93172.222222
     강북구       44000.000000
     강서구       77744.884615
     관악구       69071.428571
     광진구      122183.000000
     구로구       67158.333333
     금천구           1.000000
     노원구       68500.000000
     도봉구       58243.750000
     동대문구      60537.500000
     동작구       87983.333333
     마포구      151304.347826
     서대문구      96079.264706
     서초구      192733.078880
     성동구      302854.814815
     성북구       88793.483333
     송파구      111720.454545
     양천구      132141.463415
     영등포구     142773.255814
     용산구      270853.007435
     은평구       71760.011905
     종로구      158381.894737
     중구       145861.630435
     중랑구      108727.000000

In [131]:
mean19 = apart19_df.pivot_table('amount', index=['year', 'address'], columns='area', aggfunc='mean')
mean19 = mean19.fillna(1)
mean19

area                    0.0            1.0            2.0            3.0  \
year address
2019 강남구      116918.042398  172226.217287  212663.961407  264077.262181
     강동구       55411.846003   79543.006487  105268.780933  102770.000000
     강북구       39257.064846   51485.482759   61534.522293   47000.000000
     강서구       47028.543109   66865.213957   89024.359673   94385.526316
     관악구       43646.231764   59885.287356   69421.310897   82818.750000
     광진구       65124.184261   94222.485057  116930.000000  142778.177778
     구로구       38702.588056   58327.160210   72875.953947  104600.000000
     금천구       34440.529840   50533.881988   51522.258065   75966.666667
     노원구       35967.741700   54528.889930   73275.994048   76128.205128
     도봉구       31110.459169   45511.392587   68392.931937   69934.482759
     동대문구      45618.230088   65276.890299   78981.290323  104968.750000
     동작구       65392.116883   90332.908072  103036.555819  107829.310345
     마포구       73414.153191   97346.796117  118748.230088  145946.666667
     서대문구      54362.994225   76579.502110   85745.535714   82341.666667
     서초구      102242.194745  159820.193353  190247.755267  208982.352941
     성동구       79939.632132  100858.433148  113395.073529  183725.000000
     성북구       49559.473325   62197.477546   72477.193309   81080.000000
     송파구       80604.907937  125431.577074  148391.425206  174071.578947
     양천구       56700.359899   83920.368640  121880.679406  156297.207447
     영등포구      49570.767241   82512.462264  124677.419355  164254.577465
     용산구       85021.706140  114381.914358  165975.912338  183064.113821
     은평구       42917.560739   55680.304435   72061.837456   54139.285714
     종로구       44084.246032   95635.677966  112665.757576  135482.500000
     중구        54195.343407   84034.103896  103930.777778  122320.588235
     중랑구       32125.988806   51277.450157   66230.355872   91916.666667

area                    4.0
year address
2019 강남구      324248.510638
     강동구      126562.500000
     강북구           1.000000
     강서구      100122.823529
     관악구       81060.000000
     광진구      166376.315789
     구로구      121041.666667
     금천구           1.000000
     노원구       66833.333333
     도봉구       78607.692308
     동대문구     128500.000000
     동작구       83900.000000
     마포구      194651.800000
     서대문구     120750.000000
     서초구      254279.875519
     성동구      367000.000000
     성북구      105958.333333
     송파구      164508.000000
     양천구      152620.000000
     영등포구     189882.051282
     용산구      351193.551546
     은평구       90354.545455
     종로구      139700.000000
     중구       158565.000000
     중랑구      119000.000000

In [132]:
mean16.loc[2016, '강남구'][0]

68654.0370212766

### 2016-19년 강남구 거래금액 상승률

In [133]:
# 전용면적 구간 0
increaseRate0 = ((mean19.loc[2019, '강남구'][0]-mean16.loc[2016, '강남구'][0])/mean16.loc[2016, '강남구'][0])*100
increaseRate0

70.30031658797675

In [134]:
# 전용면적 구간 1
increaseRate1 = ((mean19.loc[2019, '강남구'][1]-mean16.loc[2016, '강남구'][1])/mean16.loc[2016, '강남구'][1])*100
increaseRate1

72.3080145210801

In [135]:
# 전용면적 구간 2
increaseRate2 = ((mean19.loc[2019, '강남구'][2]-mean16.loc[2016, '강남구'][2])/mean16.loc[2016, '강남구'][2])*100
increaseRate2

61.55265954990892

In [136]:
# 전용면적 구간 3
increaseRate3 = ((mean19.loc[2019, '강남구'][3]-mean16.loc[2016, '강남구'][3])/mean16.loc[2016, '강남구'][3])*100
increaseRate3

46.281278393096834

In [137]:
# 전용면적 구간 4
increaseRate4 = ((mean19.loc[2019, '강남구'][4]-mean16.loc[2016, '강남구'][4])/mean16.loc[2016, '강남구'][4])*100
increaseRate4

32.03758339854054

In [138]:
# 강남구 거래금액 상승률 평균
increaseRate_mean = (increaseRate0+increaseRate1+increaseRate2+increaseRate3+increaseRate4)/5
increaseRate_mean

56.495970490120634

In [139]:
increaseRate = [increaseRate0, increaseRate1, increaseRate2, increaseRate3, increaseRate4]
increaseRate

[70.30031658797675,
 72.3080145210801,
 61.55265954990892,
 46.281278393096834,
 32.03758339854054]

In [140]:
increaseRate = np.array(increaseRate)
increaseRateGangnam = np.mean(increaseRate)
increaseRateGangnam

56.495970490120634

### 2016-19년 자치구별 거래금액 상승률

In [141]:
gu_list = mean16.loc[2016]
gu_list = list(gu_list.index)
gu_list

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [142]:
increaseRate0 = [((mean19.loc[2019, gu][0]-mean16.loc[2016, gu][0])/mean16.loc[2016, gu][0])*100 for gu in gu_list]
increaseRate0

[70.30031658797675,
 33.48211225419892,
 32.96595370245196,
 47.916165389311814,
 46.103676185330485,
 73.19262683129566,
 43.31354943837112,
 36.600553314126024,
 45.658367121094976,
 41.65089158054069,
 36.719856849541024,
 57.3993847548974,
 62.65565722385363,
 60.93140153374775,
 60.97542547724731,
 69.67178274166695,
 42.657585126441646,
 56.08169831365631,
 59.90655688464809,
 50.5827637476446,
 61.45309275591971,
 41.32986784835674,
 61.084741405354734,
 35.39831671804282,
 33.600149326994696]

In [143]:
increaseRate1 = [((mean19.loc[2019, gu][1]-mean16.loc[2016, gu][1])/mean16.loc[2016, gu][1])*100 for gu in gu_list]
increaseRate1

[72.3080145210801,
 53.214464587211864,
 32.74454059800901,
 42.818495995673175,
 41.49246233893687,
 57.49183620673054,
 45.07338229540417,
 43.42384910504377,
 39.929417928406295,
 32.974817689809846,
 47.673384413800534,
 54.76977246861613,
 63.86030264671134,
 67.34919771172602,
 70.08892815371858,
 74.3574682657387,
 41.318945984229494,
 63.15991502781727,
 62.03275149044898,
 67.29558862714686,
 68.99349678132029,
 37.65226716717326,
 80.1107690376605,
 48.66244137844053,
 40.46673271983781]

In [144]:
increaseRate2 = [((mean19.loc[2019, gu][2]-mean16.loc[2016, gu][2])/mean16.loc[2016, gu][2])*100 for gu in gu_list]
increaseRate2

[61.55265954990892,
 53.8616061853885,
 33.27415884715827,
 47.07258393938601,
 36.61601234619214,
 44.30692898735485,
 43.39006095909128,
 25.62295894572783,
 37.69524042981105,
 33.87452210359902,
 53.2945621440287,
 53.17878740510119,
 64.79075697190407,
 48.48426076215489,
 58.195721571215884,
 63.353551464776395,
 34.23490298600003,
 55.24341721847531,
 52.02710223941038,
 71.90339730293219,
 65.77212728561595,
 28.97784833169364,
 60.439790610674606,
 47.33882754289409,
 37.1990241223163]

In [145]:
increaseRate3 = [((mean19.loc[2019, gu][3]-mean16.loc[2016, gu][3])/mean16.loc[2016, gu][3])*100 for gu in gu_list]
increaseRate3

[46.281278393096834,
 41.98435764305831,
 15.266707541385651,
 35.615772515332004,
 36.608247422680414,
 32.472494567209445,
 59.40666988392472,
 22.605982354207026,
 37.70256101055644,
 32.94818173195719,
 72.5414179427286,
 35.86516528476773,
 45.20190049516217,
 15.122646123362474,
 41.06855061327198,
 92.73042351440854,
 39.77933208550882,
 49.327803833343395,
 41.38249604916646,
 57.49193196764001,
 60.056626429924876,
 5.782113548819299,
 26.202209457195845,
 33.87125832027021,
 49.842414142877864]

In [151]:
increaseRate4 = [((mean19.loc[2019, gu][4]-mean16.loc[2016, gu][4])/mean16.loc[2016, gu][4])*100 for gu in gu_list]
increaseRate4[2] = 0
increaseRate4

[32.03758339854054,
 35.83715938226702,
 0,
 28.78380876727017,
 17.35677352637023,
 36.16977467362373,
 80.23327956322126,
 0.0,
 -2.4330900243309075,
 34.963309037780554,
 112.26512492256866,
 -4.641030498200411,
 28.64917816091954,
 25.67748136878405,
 31.933696590015824,
 21.18017678682365,
 19.331204673616238,
 47.24966942653132,
 15.497434382959877,
 32.99553211105925,
 29.662046167511875,
 25.912110458484523,
 -11.795473698482283,
 8.709192079747993,
 9.448435071325429]

In [152]:
increaseRate = [increaseRate0, increaseRate1, increaseRate2, increaseRate3, increaseRate4]
increaseRate = pd.DataFrame(increaseRate)
increaseRate

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,70.300317,33.482112,32.965954,47.916165,46.103676,73.192627,43.313549,36.600553,45.658367,41.650892,...,69.671783,42.657585,56.081698,59.906557,50.582764,61.453093,41.329868,61.084741,35.398317,33.600149
1,72.308015,53.214465,32.744541,42.818496,41.492462,57.491836,45.073382,43.423849,39.929418,32.974818,...,74.357468,41.318946,63.159915,62.032751,67.295589,68.993497,37.652267,80.110769,48.662441,40.466733
2,61.552660,53.861606,33.274159,47.072584,36.616012,44.306929,43.390061,25.622959,37.695240,33.874522,...,63.353551,34.234903,55.243417,52.027102,71.903397,65.772127,28.977848,60.439791,47.338828,37.199024
3,46.281278,41.984358,15.266708,35.615773,36.608247,32.472495,59.406670,22.605982,37.702561,32.948182,...,92.730424,39.779332,49.327804,41.382496,57.491932,60.056626,5.782114,26.202209,33.871258,49.842414
4,32.037583,35.837159,0.000000,28.783809,17.356774,36.169775,80.233280,0.000000,-2.433090,34.963309,...,21.180177,19.331205,47.249669,15.497434,32.995532,29.662046,25.912110,-11.795474,8.709192,9.448435

In [100]:
increaseRate[0]

0    70.300317
1    72.308015
2    61.552660
3    46.281278
4    32.037583
Name: 0, dtype: float64

In [101]:
increaseRate[0] = np.array(increaseRate[0])
increaseRateMean = np.mean(increaseRate[0])
increaseRateMean

56.495970490120634

In [153]:
increaseRate[2] = np.array(increaseRate[2])
increaseRateMean = np.mean(increaseRate[2])
increaseRateMean

22.850272137800978

In [154]:
increaseRate_list=[]
for i in range(0,25):
    increaseRate[i] = np.array(increaseRate[i])
    increaseRateMean = np.mean(increaseRate[i])
    increaseRateMean = round(increaseRateMean,2)
    increaseRate_list.append(increaseRateMean)
increaseRate_list

[56.5,
 43.68,
 22.85,
 40.44,
 35.64,
 48.73,
 54.28,
 25.65,
 31.71,
 35.28,
 64.5,
 39.31,
 53.03,
 43.51,
 52.45,
 64.26,
 35.46,
 54.21,
 46.17,
 56.05,
 57.19,
 27.93,
 43.21,
 34.8,
 34.11]

In [181]:
from pandas import DataFrame as df

In [187]:
rate = [gu_list, increaseRate_list]
rate = pd.DataFrame(rate)
rate

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,도봉구,...,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구
1,56.5,43.68,22.85,40.44,35.64,48.73,54.28,25.65,31.71,35.28,...,64.26,35.46,54.21,46.17,56.05,57.19,27.93,43.21,34.8,34.11

In [194]:
increase_rate = rate.T
increase_rate

       0      1
0    강남구   56.5
1    강동구  43.68
2    강북구  22.85
3    강서구  40.44
4    관악구  35.64
5    광진구  48.73
6    구로구  54.28
7    금천구  25.65
8    노원구  31.71
9    도봉구  35.28
10  동대문구   64.5
11   동작구  39.31
12   마포구  53.03
13  서대문구  43.51
14   서초구  52.45
15   성동구  64.26
16   성북구  35.46
17   송파구  54.21
18   양천구  46.17
19  영등포구  56.05
20   용산구  57.19
21   은평구  27.93
22   종로구  43.21
23    중구   34.8
24   중랑구  34.11

In [196]:
increase_rate.columns = ['region', 'meanRate']
increase_rate

   region meanRate
0     강남구     56.5
1     강동구    43.68
2     강북구    22.85
3     강서구    40.44
4     관악구    35.64
5     광진구    48.73
6     구로구    54.28
7     금천구    25.65
8     노원구    31.71
9     도봉구    35.28
10   동대문구     64.5
11    동작구    39.31
12    마포구    53.03
13   서대문구    43.51
14    서초구    52.45
15    성동구    64.26
16    성북구    35.46
17    송파구    54.21
18    양천구    46.17
19   영등포구    56.05
20    용산구    57.19
21    은평구    27.93
22    종로구    43.21
23     중구     34.8
24    중랑구    34.11

In [197]:
increase_rate.to_csv('increase_rate.csv', index=False, encoding='utf-8-sig')