# 기준 년도에 따른 면적별 가격변동수치 분석2 (2016 ~ 2019)
1. 기준 지역 : 서울시 자치구별 지역


2. 기준 년도 : 2016, 2017, 2018, 2019


3. 전용면적 기준 ->
   65이하 전용면적 0 
   - 65이상 99미만  전용면적 1
   - 99이상 135미만 전용면적 2
   - 135이상 165미만 전용면적 3
   - 165이상 전용면적 4

### 년도별 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

apart16_df = pd.read_csv('apart16_df.csv')
apart17_df = pd.read_csv('apart17_df.csv')
apart18_df = pd.read_csv('apart18_df.csv')
apart19_df = pd.read_csv('apart19_df.csv')

### 1. 2016년 ~ 2019년 데이터 정리

In [2]:
apart16_df

        자치구    동   전용면적  거래금액(만원)
0       강남구  개포동  77.75     75000
1       강남구  개포동  77.75     71000
2       강남구  개포동  77.75     76900
3       강남구  개포동  77.75     75500
4       강남구  개포동  77.75     80000
...     ...  ...    ...       ...
110195  중랑구  중화동  84.69     27000
110196  중랑구  중화동  84.69     30000
110197  중랑구  중화동  67.44     25700
110198  중랑구  중화동  67.57     22300
110199  중랑구  중화동  95.94     32000

[110200 rows x 4 columns]

In [3]:
# 16년도 데이터 정리
apart16_df1 = pd.DataFrame({
                '기간' : 2016,
                '구' : apart16_df['자치구'],
                '전용면적' : apart16_df['전용면적'],
                '거래금액' : apart16_df['거래금액(만원)']
})

# 17년도 데이터 정리
apart17_df1 = pd.DataFrame({
                '기간' : 2017,
                '구' : apart17_df['자치구'],
                '전용면적' : apart17_df['전용면적'],
                '거래금액' : apart16_df['거래금액(만원)']
})

# 16년도 데이터 정리
apart18_df1 = pd.DataFrame({
                '기간' : 2018,
                '구' : apart18_df['자치구'],
                '전용면적' : apart18_df['전용면적'],
                '거래금액' : apart18_df['거래금액(만원)']
})


# 19년도 데이터 정리
apart19_df1 = pd.DataFrame({
                '기간' : 2019,
                '구' : apart19_df['자치구'],
                '전용면적' : apart19_df['전용면적'],
                '거래금액' : apart19_df['거래금액(만원)']
})

apart16_df1.head(20)

      기간    구    전용면적    거래금액
0   2016  강남구   77.75   75000
1   2016  강남구   77.75   71000
2   2016  강남구   77.75   76900
3   2016  강남구   77.75   75500
4   2016  강남구   77.75   80000
5   2016  강남구   79.97   82500
6   2016  강남구   79.97   82700
7   2016  강남구   67.28   76000
8   2016  강남구   79.97   85000
9   2016  강남구   67.28   79000
10  2016  강남구   67.28   83000
11  2016  강남구   67.28   83000
12  2016  강남구   79.97   97000
13  2016  강남구   79.97   99000
14  2016  강남구   79.97   89000
15  2016  강남구  161.00  145000
16  2016  강남구  161.00  147000
17  2016  강남구  133.46  129600
18  2016  강남구  133.46  129750
19  2016  강남구  133.46  128000

### 2. 기준 년도별 전용 면적 구분하기

In [4]:
# 65m이하 전용면적 0 
# 65이상 99미만  전용면적 1
# 99이상 135미만 전용면적 2
# 135이상 165미만 전용면적 3
# 165이상 전용면적 4


# 16년도
apart16_df1.loc[apart16_df1['전용면적'] < 65.0, '전용면적'] = 0
apart16_df1.loc[((apart16_df1['전용면적'] >=65.0 ) & (apart16_df1['전용면적'] < 99.0)) , '전용면적'] = 1
apart16_df1.loc[((apart16_df1['전용면적'] >=99.0) & (apart16_df1['전용면적'] < 135.0)) , '전용면적'] = 2
apart16_df1.loc[((apart16_df1['전용면적'] >=135.0) & (apart16_df1['전용면적'] < 165.0)) , '전용면적'] = 3
apart16_df1.loc[apart16_df1['전용면적'] >= 165.0 , '전용면적'] = 4

# 17년도
apart17_df1.loc[apart17_df1['전용면적'] < 65.0, '전용면적'] = 0
apart17_df1.loc[((apart17_df1['전용면적'] >=65.0 ) & (apart17_df1['전용면적'] < 99.0)) , '전용면적'] = 1
apart17_df1.loc[((apart17_df1['전용면적'] >=99.0) & (apart17_df1['전용면적'] < 135.0)) , '전용면적'] = 2
apart17_df1.loc[((apart17_df1['전용면적'] >=135.0) & (apart17_df1['전용면적'] < 165.0)) , '전용면적'] = 3
apart17_df1.loc[apart17_df1['전용면적'] >= 165.0 , '전용면적'] = 4

# 16년도
apart18_df1.loc[apart18_df1['전용면적'] < 65.0, '전용면적'] = 0
apart18_df1.loc[((apart18_df1['전용면적'] >=65.0 ) & (apart18_df1['전용면적'] < 99.0)) , '전용면적'] = 1
apart18_df1.loc[((apart18_df1['전용면적'] >=99.0) & (apart18_df1['전용면적'] < 135.0)) , '전용면적'] = 2
apart18_df1.loc[((apart18_df1['전용면적'] >=135.0) & (apart18_df1['전용면적'] < 165.0)) , '전용면적'] = 3
apart18_df1.loc[apart18_df1['전용면적'] >= 165.0 , '전용면적'] = 4

# 19년도
apart19_df1.loc[apart19_df1['전용면적'] < 65.0, '전용면적'] = 0
apart19_df1.loc[((apart19_df1['전용면적'] >=65.0 ) & (apart19_df1['전용면적'] < 99.0)) , '전용면적'] = 1
apart19_df1.loc[((apart19_df1['전용면적'] >=99.0) & (apart19_df1['전용면적'] < 135.0)) , '전용면적'] = 2
apart19_df1.loc[((apart19_df1['전용면적'] >=135.0) & (apart19_df1['전용면적'] < 165.0)) , '전용면적'] = 3
apart19_df1.loc[apart19_df1['전용면적'] >= 165.0 , '전용면적'] = 4


apart16_df1.head(20)

      기간    구  전용면적    거래금액
0   2016  강남구   1.0   75000
1   2016  강남구   1.0   71000
2   2016  강남구   1.0   76900
3   2016  강남구   1.0   75500
4   2016  강남구   1.0   80000
5   2016  강남구   1.0   82500
6   2016  강남구   1.0   82700
7   2016  강남구   1.0   76000
8   2016  강남구   1.0   85000
9   2016  강남구   1.0   79000
10  2016  강남구   1.0   83000
11  2016  강남구   1.0   83000
12  2016  강남구   1.0   97000
13  2016  강남구   1.0   99000
14  2016  강남구   1.0   89000
15  2016  강남구   3.0  145000
16  2016  강남구   3.0  147000
17  2016  강남구   2.0  129600
18  2016  강남구   2.0  129750
19  2016  강남구   2.0  128000

In [5]:
tot_apart_df = pd.concat([apart16_df1,apart17_df1,apart18_df1,apart19_df1])
tot_apart_df

         기간    구  전용면적   거래금액
0      2016  강남구   1.0  75000
1      2016  강남구   1.0  71000
2      2016  강남구   1.0  76900
3      2016  강남구   1.0  75500
4      2016  강남구   1.0  80000
...     ...  ...   ...    ...
73920  2019  중랑구   0.0  45700
73921  2019  중랑구   1.0  35000
73922  2019  중랑구   0.0  25800
73923  2019  중랑구   1.0  34500
73924  2019  중랑구   0.0  32800

[375712 rows x 4 columns]

#### DataFrame 저장하기

In [6]:
tot_apart_df.to_csv('tot_apart_df.csv', encoding='utf-8-sig')