# 재건축, 재개발, 도시환경정비 통합 카테고리

### 자치구별 통합된 재건축, 재개발, 도시환경정비 횟수 세기

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

# 데이터 불러오기
re_cate1 = pd.read_csv('re_cate1.csv', index_col=0)
re_cate2 = pd.read_csv('re_cate2.csv', index_col=0)
re_cate3 = pd.read_csv('re_cate3.csv', index_col=0)

In [2]:
# 데이터 자치구별로 오른차순 정렬 및 열 이름 붙여주기 => 도시환경정비

# re_cate1 = re_cate1.sort_values(by=['자치구'], axis=0)
# re_cate1.sort_values(by='자치구')

re_cate1 = re_cate1.sort_values(["0"], ascending=[True])
re_cate1

       1
0
강남구    0
강동구    2
강북구    3
강서구    0
관악구    9
광진구    1
구로구    1
금천구    1
노원구    6
도봉구    2
동대문구   3
동작구    1
마포구    2
서대문구   4
서초구    0
성동구    1
성북구    2
송파구    5
양천구    2
영등포구  34
용산구   10
은평구    2
종로구    6
중구     1
중랑구    2

In [3]:
# 데이터 자치구별로 오른차순 정렬 및 열 이름 붙여주기 => 재개발
# re_cate2 = re_cate2.sort_values(by=['자치구'], axis=0)
#re_cate1.sort_values(by='자치구')

re_cate2 = re_cate2.sort_values(["0"], ascending=[True])
re_cate2

       1
0
강남구    0
강동구    1
강북구    6
강서구    0
관악구    9
광진구    0
구로구    1
금천구    1
노원구    6
도봉구    2
동대문구  27
동작구   15
마포구    9
서대문구  17
서초구    0
성동구   20
성북구   38
송파구    5
양천구    8
영등포구  12
용산구    9
은평구   23
종로구    5
중구     5
중랑구    2

In [4]:
# 데이터 자치구별로 오른차순 정렬 및 열 이름 붙여주기 => 재건축
# re_cate2 = re_cate2.sort_values(by=['자치구'], axis=0)
#re_cate1.sort_values(by='자치구')

re_cate3 = re_cate3.sort_values(["0"], ascending=[True])
re_cate3

       1
0
강남구   40
강동구   24
강북구    9
강서구   20
관악구    7
광진구   11
구로구   11
금천구   10
노원구    7
도봉구    3
동대문구   8
동작구    6
마포구    9
서대문구  10
서초구   57
성동구    6
성북구    8
송파구   21
양천구    8
영등포구  22
용산구   12
은평구    9
종로구    1
중구     0
중랑구   11

### 데이터 행별 합치기

In [5]:
pre_tot_df = re_cate1['1'] + re_cate2['1'] + re_cate3['1']
pre_tot_df

0
강남구     40
강동구     27
강북구     18
강서구     20
관악구     25
광진구     12
구로구     13
금천구     12
노원구     19
도봉구      7
동대문구    38
동작구     22
마포구     20
서대문구    31
서초구     57
성동구     27
성북구     48
송파구     31
양천구     18
영등포구    68
용산구     31
은평구     34
종로구     12
중구       6
중랑구     15
Name: 1, dtype: int64

### 리스트를 데이터프레임으로 만들어주기

In [6]:
tot_df = [['강남구', 40],
['강동구', 27],
['강북구', 18],
['강서구',20],
['관악구', 25],
['광진구', 12],
['구로구', 13],
['금천구', 12],
['노원구',  19],
['도봉구', 7],
['동대문구',38],
['동작구',22],
['마포구',20],
['서대문구',31],
['서초구',57],
['성동구',27],
['성북구',48],
['송파구',31],
['양천구',18],
['영등포구',68],
['용산구',31],
['은평구',34],
['종로구',12],
['중구',6],
['중랑구',15]]
tot_df = pd.DataFrame(tot_df)
tot_df

       0   1
0    강남구  40
1    강동구  27
2    강북구  18
3    강서구  20
4    관악구  25
5    광진구  12
6    구로구  13
7    금천구  12
8    노원구  19
9    도봉구   7
10  동대문구  38
11   동작구  22
12   마포구  20
13  서대문구  31
14   서초구  57
15   성동구  27
16   성북구  48
17   송파구  31
18   양천구  18
19  영등포구  68
20   용산구  31
21   은평구  34
22   종로구  12
23    중구   6
24   중랑구  15

In [7]:
# 열이름 만들어주기
tot_df.columns = ["자치구", "횟수"]
tot_df

     자치구  횟수
0    강남구  40
1    강동구  27
2    강북구  18
3    강서구  20
4    관악구  25
5    광진구  12
6    구로구  13
7    금천구  12
8    노원구  19
9    도봉구   7
10  동대문구  38
11   동작구  22
12   마포구  20
13  서대문구  31
14   서초구  57
15   성동구  27
16   성북구  48
17   송파구  31
18   양천구  18
19  영등포구  68
20   용산구  31
21   은평구  34
22   종로구  12
23    중구   6
24   중랑구  15

### 데이터프레임 저장하기

In [8]:
tot_df.to_csv('re_cate_total.csv', encoding='utf-8-sig')