# 기준 년도에 따른 서울시 면적별 가격변동수치  분석1 (2016 ~ 2019)
1. 기준 지역 : 자치구 별 지역


2. 기준 년도 : 2016,, 2017, 2018, 2019


3. 전용면적 기준 ->
   65이하 전용면적 0 
   - 65이상 99미만  전용면적 1
   - 99이상 135미만 전용면적 2
   - 135이상 165미만 전용면적 3
   - 165이상 전용면적 4

### 년도별 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

apart16 = pd.read_csv('apart16_sell.csv')
apart17 = pd.read_csv('apart17_sell.csv')
apart18 = pd.read_csv('apart18_sell.csv')
apart19 = pd.read_csv('apart19_sell.csv')

### 1. 2016년도 데이터 정리

In [2]:
# DataFrame으로 변경
apart16_df = pd.DataFrame(apart16)
apart16_df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201603,28,"75,000",5,1988,언주로 103
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201604,2,"71,000",2,1988,언주로 103
2,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201605,6,"76,900",9,1988,언주로 103
3,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201605,19,"75,500",9,1988,언주로 103
4,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201612,27,"80,000",5,1988,언주로 103

#### 1-1. 열이름 변경 및 필요없는 데이터 삭제하기

In [3]:
# 번지, 본번, 부번, 단지명, 계약년월, 계약일, 층, 건축년도, 도로명 삭제
apart16_df.drop(["번지"], axis='columns', inplace=True)
apart16_df.drop(["본번"], axis='columns', inplace=True)
apart16_df.drop(["부번"], axis='columns', inplace=True)
apart16_df.drop(["단지명"], axis='columns', inplace=True)
apart16_df.drop(["계약년월"], axis='columns', inplace=True)
apart16_df.drop(["계약일"], axis='columns', inplace=True)
apart16_df.drop(["층"], axis='columns', inplace=True)
apart16_df.drop(["건축년도"], axis='columns', inplace=True)
apart16_df.drop(["도로명"], axis='columns', inplace=True)

In [4]:
apart16_df.head()

             시군구  전용면적(㎡) 거래금액(만원)
0  서울특별시 강남구 개포동    77.75   75,000
1  서울특별시 강남구 개포동    77.75   71,000
2  서울특별시 강남구 개포동    77.75   76,900
3  서울특별시 강남구 개포동    77.75   75,500
4  서울특별시 강남구 개포동    77.75   80,000

#### 1-2. '시군구'를 '자치구'와  '동'으로 나누기

In [5]:
gudong16_list = pd.DataFrame({
    '자치구' : apart16_df['시군구'],
    '동' : apart16_df['시군구'],
    '전용면적' : apart16_df['전용면적(㎡)'],
    '거래금액(만원)' : apart16_df['거래금액(만원)']
})

gudong16_list['자치구'] = [each_gu.split()[1] for each_gu in apart16_df['시군구']]
gudong16_list['동'] = [each_dong.split()[2] for each_dong in apart16_df['시군구']]

# object -> list 
gudong16_list['거래금액(만원)'] = gudong16_list['거래금액(만원)'].replace('[\,]', '', regex=True)
gudong16_list['거래금액(만원)'] = pd.to_numeric(gudong16_list['거래금액(만원)'])

gudong16_list

        자치구    동   전용면적  거래금액(만원)
0       강남구  개포동  77.75     75000
1       강남구  개포동  77.75     71000
2       강남구  개포동  77.75     76900
3       강남구  개포동  77.75     75500
4       강남구  개포동  77.75     80000
...     ...  ...    ...       ...
110195  중랑구  중화동  84.69     27000
110196  중랑구  중화동  84.69     30000
110197  중랑구  중화동  67.44     25700
110198  중랑구  중화동  67.57     22300
110199  중랑구  중화동  95.94     32000

[110200 rows x 4 columns]

In [6]:
# 데이터 프레임으로 저장
gudong16_list.to_csv('apart16_df.csv', encoding='utf-8-sig', index=False)

### 2. 2017년도 데이터 정리

In [7]:
# DataFrame으로 변경
apart17_df = pd.DataFrame(apart17)

# 번지, 본번, 부번, 단지명, 계약년월, 계약일, 층, 건축년도, 도로명 삭제
apart17_df.drop(["번지"], axis='columns', inplace=True)
apart17_df.drop(["본번"], axis='columns', inplace=True)
apart17_df.drop(["부번"], axis='columns', inplace=True)
apart17_df.drop(["단지명"], axis='columns', inplace=True)
apart17_df.drop(["계약년월"], axis='columns', inplace=True)
apart17_df.drop(["계약일"], axis='columns', inplace=True)
apart17_df.drop(["층"], axis='columns', inplace=True)
apart17_df.drop(["건축년도"], axis='columns', inplace=True)
apart17_df.drop(["도로명"], axis='columns', inplace=True)

# '시군구'를 '자치구'와  '동'으로 나누기
gudong17_list = pd.DataFrame({
    '자치구' : apart17_df['시군구'],
    '동' : apart17_df['시군구'],
    '전용면적' : apart17_df['전용면적(㎡)'],
    '거래금액(만원)' : apart17_df['거래금액(만원)']
})

gudong17_list['자치구'] = [each_gu.split()[1] for each_gu in apart17_df['시군구']]
gudong17_list['동'] = [each_dong.split()[2] for each_dong in apart17_df['시군구']]

# object -> list 
gudong17_list['거래금액(만원)'] = gudong17_list['거래금액(만원)'].replace('[\,]', '', regex=True)
gudong17_list['거래금액(만원)'] = pd.to_numeric(gudong17_list['거래금액(만원)'])

gudong17_list

        자치구    동    전용면적  거래금액(만원)
0       강남구  개포동   77.75     80000
1       강남구  개포동   77.75     85000
2       강남구  개포동   77.75     89900
3       강남구  개포동   79.97     97500
4       강남구  개포동   79.97     98000
...     ...  ...     ...       ...
105072  중랑구  중화동   72.22     28300
105073  중랑구  중화동  125.09     36900
105074  중랑구  중화동   50.29     19100
105075  중랑구  중화동   87.31     30500
105076  중랑구  중화동   67.57     25100

[105077 rows x 4 columns]

In [8]:
# 데이터 프레임으로 저장
gudong17_list.to_csv('apart17_df.csv', encoding='utf-8-sig', index=False)

### 3. 2018년도 데이터 정리

In [9]:
# DataFrame으로 변경
apart18_df = pd.DataFrame(apart18)

# 번지, 본번, 부번, 단지명, 계약년월, 계약일, 층, 건축년도, 도로명 삭제
apart18_df.drop(["번지"], axis='columns', inplace=True)
apart18_df.drop(["본번"], axis='columns', inplace=True)
apart18_df.drop(["부번"], axis='columns', inplace=True)
apart18_df.drop(["단지명"], axis='columns', inplace=True)
apart18_df.drop(["계약년월"], axis='columns', inplace=True)
apart18_df.drop(["계약일"], axis='columns', inplace=True)
apart18_df.drop(["층"], axis='columns', inplace=True)
apart18_df.drop(["건축년도"], axis='columns', inplace=True)
apart18_df.drop(["도로명"], axis='columns', inplace=True)

# '시군구'를 '자치구'와  '동'으로 나누기
gudong18_list = pd.DataFrame({
    '자치구' : apart18_df['시군구'],
    '동' : apart18_df['시군구'],
    '전용면적' : apart18_df['전용면적(㎡)'],
    '거래금액(만원)' : apart18_df['거래금액(만원)']
})

gudong18_list['자치구'] = [each_gu.split()[1] for each_gu in apart18_df['시군구']]
gudong18_list['동'] = [each_dong.split()[2] for each_dong in apart18_df['시군구']]

# object -> list 
gudong18_list['거래금액(만원)'] = gudong18_list['거래금액(만원)'].replace('[\,]', '', regex=True)
gudong18_list['거래금액(만원)'] = pd.to_numeric(gudong18_list['거래금액(만원)'])

gudong18_list

       자치구    동    전용면적  거래금액(만원)
0      강남구  개포동   79.97    130000
1      강남구  개포동   79.97    117000
2      강남구  개포동   79.97    130000
3      강남구  개포동   79.97    139500
4      강남구  개포동   54.98    107500
...    ...  ...     ...       ...
81382  중랑구  중화동   56.52     21000
81383  중랑구  중화동   69.52     29500
81384  중랑구  중화동   69.09     30000
81385  중랑구  중화동   75.88     24500
81386  중랑구  중화동  100.17     37000

[81387 rows x 4 columns]

In [10]:
# DataFrame으로 저장하기
gudong18_list.to_csv('apart18_df.csv', encoding='utf-8-sig', index=False)

### 4. 2019년도 데이터 정리

In [11]:
# DataFrame으로 변경
apart19_df = pd.DataFrame(apart19)

# 번지, 본번, 부번, 단지명, 계약년월, 계약일, 층, 건축년도, 도로명 삭제
apart19_df.drop(["번지"], axis='columns', inplace=True)
apart19_df.drop(["본번"], axis='columns', inplace=True)
apart19_df.drop(["부번"], axis='columns', inplace=True)
apart19_df.drop(["단지명"], axis='columns', inplace=True)
apart19_df.drop(["계약년월"], axis='columns', inplace=True)
apart19_df.drop(["계약일"], axis='columns', inplace=True)
apart19_df.drop(["층"], axis='columns', inplace=True)
apart19_df.drop(["건축년도"], axis='columns', inplace=True)
apart19_df.drop(["도로명"], axis='columns', inplace=True)

# '시군구'를 '자치구'와  '동'으로 나누기
gudong19_list = pd.DataFrame({
    '자치구' : apart19_df['시군구'],
    '동' : apart19_df['시군구'],
    '전용면적' : apart19_df['전용면적(㎡)'],
    '거래금액(만원)' : apart19_df['거래금액(만원)']
})

gudong19_list['자치구'] = [each_gu.split()[1] for each_gu in apart19_df['시군구']]
gudong19_list['동'] = [each_dong.split()[2] for each_dong in apart19_df['시군구']]

# object -> list 
gudong19_list['거래금액(만원)'] = gudong19_list['거래금액(만원)'].replace('[\,]', '', regex=True)
gudong19_list['거래금액(만원)'] = pd.to_numeric(gudong19_list['거래금액(만원)'])

gudong19_list

       자치구    동   전용면적  거래금액(만원)
0      강남구  개포동  77.75    134500
1      강남구  개포동  77.75    160000
2      강남구  개포동  67.28    124000
3      강남구  개포동  79.97    141000
4      강남구  개포동  79.97    155000
...    ...  ...    ...       ...
73920  중랑구  중화동  59.76     45700
73921  중랑구  중화동  84.69     35000
73922  중랑구  중화동  57.18     25800
73923  중랑구  중화동  82.17     34500
73924  중랑구  중화동  64.48     32800

[73925 rows x 4 columns]

In [12]:
# DataFrame으로 저장하기
gudong19_list.to_csv('apart19_df.csv', encoding='utf-8-sig', index=False)